git+https://github.com/open-qe-automation/package.utils.git
git+https://github.com/open-qe-automation/package.data.loaders.git
python-docx
PyPDF2
openpyxl
python-pptx
xlrd
pandas
PyMuPDF
nltk
numpy
requests
beautifulsoup4